@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}

.centro {
    width: 1440px;
    margin: -1px auto;
    height: 140vh;
    border: 1px solid black;
    background-color: white;
}

.a2 {
    display: block;
    margin: 10px 0;
}

body {
    background-color: #fbfafb;
    text-align: center;
    color: black;
}

header {
    background-color: black;
    color: white;
    position:fixed;
    width: 100%;
    padding: 1rem 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.menu-lista,.menu-login {
    display: flex;
    gap: 1rem;
}

.menu-lista a,.menu-login a {
    color: white;
    text-decoration: none;
}

.centro {
    width: 80%;
    margin: -1 auto;
    padding: 20px;
    background-color: white;
    color: black; 
}

.texto {
    margin: 7vh auto;
    width: 100%;
}

.q1, .q2, .q3, .q4, .q5, .q6, .q7, .q8 {
    margin: 0px auto;
    min-width: 250px;
    height: 150px;
    background-color: #fffdf9;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}

.s1, .s2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.a1 {
    display: block;
    padding: 10% 0;
    color: black; 
}

.a2 {
    display: block;
    margin: 10px 0;
    color: black; 
}

.logo a{
    justify-content: space-around;
    color: rgb(255, 255, 255);
}

.barra hr {
    width: 92%;
    height: 0px;
    border: 2px solid #dbdde2;
    margin-top: -40px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.cont {
    margin-left: 430px;
    justify-content: space-around;
    display: flex;
}

.cont a {
    margin-left: 30px;
}

.inpt {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    background-color: rgb(255, 255, 255);
    border: 1px solid #3e3e2e8c;
    border-radius: 3px;
    padding: 8px 5px 5px;    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    src: url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
.button{
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
